@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Syne:wght@700;800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --font-title: "Syne", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
  
  --variant-dark: .dark &;
}

/* @layer base {
  body {
    @apply bg-[#001116]
           text-[#001f64] transition-colors duration-500 min-h-screen;
    background-attachment: fixed;
  }

  .dark body {
    @apply bg-[#001116] 
           text-white transition-colors duration-500 min-h-screen;
    background-attachment: fixed;
  }
} */